# Ignore temp files for remote systems
RemoteSystemsTempFiles/

# Ignore temp files from text editors
*.~

# Ignore files python cache files and directories
*cache*

# Ignore test temp files
test/test*

# Except actual test files
!test/test*.py