# Ignore temp files for remote systems
RemoteSystemsTempFiles/
.metadata/

# Ignore IDE specific files (Eclipse)
.pydevproject
.project

# Ignore temp files from text editors
*.~

# Ignore files python cache files and directories
*cache*

# Ignore test temp files
test/test*

#############################################
# Accept actual test files
!test/test*.py